{% extends('base.html.twig') %}

{% block title %}
  {{movie.name}}
{% endblock %}

{% block body %}

  <h2 class="text-center mb-5">{{movie.name}}</h2>

  <table class="table table-striped w-50 mx-auto h4 font-weight-normal">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{movie.id}}</td>
      </tr>
      <tr>
        <td>Denumirea</td>
        <td>{{movie.name}}</td>
      </tr>
      <tr>
        <td>Gen</td>
        <td>{{movie.genre}}</td>
      </tr>
      <tr>
        <td>Premiera</td>
        <td>{{movie.premiere|date("m/d/Y")}}</td>
      </tr>
    </tbody>
  </table>
    
  <div class="text-center">
    <a class="btn btn-info" href="{{path('edit_movie',{id:movie.id})}}">Modifica</a>
    <a class="btn btn-danger" href="{{path('delete_movie',{id:movie.id})}}">Sterge</a>
  </div>

  <div class="text-center mt-2">
    <a class="btn btn-primary" href="{{path('index')}}">Inapoi</a>
  </div>
  
{% endblock %}